In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.shape

(30471, 292)

### For features that has to deal with a fix distance from the apartment, I checked for the correlation between each and the record of the data at 500 km from the building and added every features to the mult_col list in the wrangle function

In [32]:
df[['cafe_count_1000_price_1500','cafe_count_1500_price_1500','cafe_count_2000_price_1500','cafe_count_3000_price_1500','cafe_count_5000_price_1500']].corrwith(df['cafe_count_500_price_1500'])

cafe_count_1000_price_1500    0.927755
cafe_count_1500_price_1500    0.912625
cafe_count_2000_price_1500    0.910961
cafe_count_3000_price_1500    0.903446
cafe_count_5000_price_1500    0.825671
dtype: float64

### For some columns, I checked for multicollinearity using the lines of code below and I drop them based on either correaltion with the target variable or if the NaN are not repeated at random or domain knowledege

In [30]:
col = []
for column in df.columns:
    if 'metro' in column:
        col.append(column)

In [31]:
df[col].corr()

,ID_metro,metro_min_avto,metro_km_avto,metro_min_walk,metro_km_walk
ID_metro,1.000000,0.110586,0.116389,0.121894,0.121894
metro_min_avto,0.110586,1.000000,0.945035,0.938710,0.938710
metro_km_avto,0.116389,0.945035,1.000000,0.986754,0.986754
metro_min_walk,0.121894,0.938710,0.986754,1.000000,1.000000
metro_km_walk,0.121894,0.938710,0.986754,1.000000,1.000000

### To get the null value

In [33]:
df[col].isnull().sum()

ID_metro           0
metro_min_avto     0
metro_km_avto      0
metro_min_walk    25
metro_km_walk     25
dtype: int64

### To get the indexes of the null value

In [35]:
df[df.metro_min_walk.isnull()].index.to_list()

[10709,
 13259,
 13699,
 14796,
 15790,
 17358,
 18255,
 19344,
 19370,
 19477,
 21593,
 21717,
 24553,
 26944,
 27004,
 27199,
 27875,
 28213,
 28669,
 28933,
 29494,
 29763,
 29830,
 29946,
 30037]

### I repeated this steps for all the numerical features in the data frame to ensure that there is no form of multicollinearity

### I dropped features with large NaN values

### Others steps are in the wrangle function

In [4]:
df1=pd.read_csv('macro.csv')

In [5]:
df1.shape

(2484, 100)