## Importing the required models

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats
import sklearn.preprocessing as preproc
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge

## Data wrangling with a wrangle function

### The details of the wrangle function can be found in the  EDA and EDA Explained Script

In [2]:
def wrangle(path):
    df = pd.read_csv(path)
    
    d = pd.read_csv('macro.csv')
    df = pd.merge(df,d,how = 'inner',on = 'timestamp')
    
    #multicollinear columns from the dataframe df
    mult_col = ['cafe_count_1000_price_high','cafe_count_1500_price_high','cafe_count_2000_price_high','cafe_count_3000_price_high',
                'cafe_count_5000_price_high','cafe_count_1000_price_1500','cafe_count_1500_price_1500','cafe_count_2000_price_1500',
                'cafe_count_3000_price_1500','cafe_count_5000_price_1500','cafe_count_1000_price_1000','cafe_count_1500_price_1000',
                'cafe_count_2000_price_1000','cafe_count_3000_price_1000','cafe_count_5000_price_1000','cafe_count_1000_na_price',
                'cafe_count_1500_na_price','cafe_count_2000_na_price','cafe_count_3000_na_price','cafe_count_5000_na_price',
                'cafe_count_1000','cafe_count_1500','cafe_count_2000','cafe_count_3000','cafe_count_5000','office_count_1000',
                'office_count_1500','office_count_2000','office_count_3000','office_count_5000','office_sqm_500','office_sqm_1000',
                'office_sqm_1500','office_sqm_2000','office_sqm_3000','office_sqm_5000','trc_sqm_500','trc_sqm_1000','trc_sqm_1500',
                'trc_sqm_2000','trc_sqm_3000','trc_sqm_5000','trc_count_1000','trc_count_1500','trc_count_2000','trc_count_3000','trc_count_5000',
                'public_transport_station_min_walk','sport_count_1000','sport_count_1500','sport_count_2000','sport_count_3000','sport_count_5000',
                 'green_part_2000','green_part_3000','green_part_5000','prom_part_3000','prom_part_2000','prom_part_5000','railroad_station_walk_min',
                'cafe_sum_1500_min_price_avg','cafe_sum_1500_max_price_avg','cafe_sum_2000_min_price_avg','cafe_sum_2000_max_price_avg',
                'cafe_sum_3000_min_price_avg','cafe_sum_3000_max_price_avg','cafe_sum_5000_min_price_avg','cafe_sum_5000_max_price_avg',
                'cafe_avg_price_1500','build_count_slag','build_count_mix','build_count_frame', 'preschool_education_centers_raion',
                'raion_build_count_with_builddate_info','raion_build_count_with_material_info','build_count_1921-1945','cafe_sum_500_max_price_avg',
                'cafe_sum_500_min_price_avg','preschool_quota','cafe_avg_price_500','cafe_sum_1000_min_price_avg','cafe_sum_1000_max_price_avg',
                'cafe_count_1000_price_2500','cafe_count_1500_price_2500','cafe_count_2000_price_2500','cafe_count_3000_price_2500',
                'cafe_count_5000_price_2500','cafe_count_1000_price_4000','cafe_count_1500_price_4000','cafe_count_2000_price_4000',
                'cafe_count_3000_price_4000','cafe_count_5000_price_4000','cafe_count_1000_price_500','cafe_count_1500_price_500',
                'cafe_count_2000_price_500','cafe_count_3000_price_500','cafe_count_5000_price_500','cafe_count_500_price_high',
                'cafe_count_500_price_1000','cafe_count_500_price_1500','cafe_count_500_price_2500','cafe_count_500_price_4000',
                'cafe_count_500_na_price','cafe_count_500_price_500','preschool_km','children_preschool','school_education_centers_raion',
                'children_school','0_6_male','7_14_male','0_17_male','0_13_male','0_6_female','7_14_female','0_17_female','0_13_female',
                'male_f','female_f','0_6_all','7_14_all','0_17_all','0_13_all','full_all','metro_min_walk','metro_min_avto','metro_km_avto',
                'railroad_station_avto_min','railroad_station_avto_km','railroad_station_walk_km','railroad_station_avto_min','ID_railroad_station_avto',
                'sport_count_500','market_count_1500','market_count_5000','market_count_1000','market_count_2000','market_count_3000',
                'office_count_500','work_all','build_count_block','build_count_brick','build_count_monolith','build_count_wood',
                'build_count_panel','big_church_count_500','big_church_count_1000','church_count_1000','big_church_count_1500',
                'church_count_1500','big_church_count_2000','church_count_2000','big_church_count_3000','big_church_count_5000',
                'church_count_5000','church_count_3000','mosque_count_1000','mosque_count_1500','mosque_count_2000','mosque_count_3000',
                'mosque_count_5000','green_part_1000','green_part_1500','green_part_500','leisure_count_1500','leisure_count_2000',
                'leisure_count_3000','leisure_count_5000','leisure_count_1000','prom_part_1000', 'prom_part_1500','cafe_avg_price_5000',
                'provision_doctors','provision_nurse','load_of_teachers_preschool_per_teacher','load_on_doctors','students_reg_sports_share',
                'theaters_viewers_per_1000_cap','pop_total_inc','pop_migration','incidence_population', 'population_reg_sports_share',
                'old_house_share','hot_water_share','invest_fixed_assets','unprofitable_enterpr_share','share_own_revenues','sewerage_share',
                'gas_share', 'electric_stove_share','grp_growth','real_dispos_income_per_cap_growth','gdp_quart_growth',
                'retail_trade_turnover_growth','balance_trade_growth','power_transmission_line_km','hospital_bed_occupancy_per_year','rent_price_3room_eco',
                'rent_price_1room_bus','rent_price_3room_bus','average_life_exp','eurrub','retail_trade_turnover_per_cap','gdp_quart',
                'gdp_deflator', 'gdp_annual','deposits_rate','mortgage_rate','perinatal_mort_per_1000_cap','invest_fixed_capital_per_cap', 
                'invest_fixed_assets_phys','radiation_km','ts_km','fitness_km','swim_pool_km','ice_rink_km','basketball_km',
                'workplaces_km','shopping_centers_km']
    df.drop(columns = mult_col, inplace = True)
    
    # high cardinality
    card=['id','sub_area']
    df.drop(columns = card, inplace = True)
    
    # high number of NaN values 
    large_nan =['child_on_acc_pre_school','provision_retail_space_modern_sqm','provision_retail_space_sqm','museum_visitis_per_100_cap','hospital_beds_raion']
    
    df.drop(columns = large_nan, inplace = True)
    
    
    # removing outliers 
    low,high = df.metro_km_walk.quantile([0.1,0.9])
    df = df[df['metro_km_walk'].between(low,high)]
    
    low_state,high_state = df.state.quantile([0.1,0.99])
    df = df[df['state'].between(low_state,high_state)]
    
    low_price,high_price = df.cafe_avg_price_1000.quantile([0.1,0.99])
    df = df[df['cafe_avg_price_1000'].between(low_price,high_price)]
    
    
    low_price1,high_price1 = df.cafe_avg_price_2000.quantile([0.1,0.99])
    df = df[df['cafe_avg_price_2000'].between(low_price,high_price)]
    
    small_size,large_size = df.life_sq.quantile([0.1,0.99])
    df = df[df['life_sq'].between(small_size,large_size)]
    
    # filling NaN values 
    num_mode = df['num_room'].mode()[0]
    df['num_room'].fillna(num_mode,inplace=True)
    
    n_build = df['build_count_1971-1995'].interpolate()
    df['build_count_1971-1995'].fillna(n_build,inplace=True)
    
    # Seperating the features into relevant and irrelevant based on their correlation with target variable
    # relevant features are the features with a correlation of 0.2 with the target variable
    corr_d = {}
    for column in df.drop(columns='price_doc').select_dtypes('number').columns:
        corr_d[column]= df[[column]].corrwith(df['price_doc'])
    relevant=[]
    irrelevant =[]
    for i in corr_d.keys():
        if abs(corr_d[i][0]) > 0.2:
            relevant.append(i)
        else:
            irrelevant.append(i)
    
    # drop the irrelevant columns 
    
    df.drop(columns= irrelevant,inplace=True)
    
    #dropping categorical features with p-value lesser than 0.05
    
    cat_irr = ['product_type','railroad_1line','thermal_power_plant_raion','nuclear_reactor_raion','water_1line','big_road1_1line','detention_facility_raion']
    df.drop(columns = cat_irr,inplace= True)
   
    #Encoding Categorical variables
    
    #Non- ordinal features
    df = pd.get_dummies(df,columns=['culture_objects_top_25','incineration_raion','oil_chemistry_raion',
                                'radiation_raion','railroad_terminal_raion','big_market_raion'],drop_first=True)
    
    #ordinal features
    mask_eco = {'excellent':4,'satisfactory':3,'good':2,'poor':1,'no data':0}
    df['ecology'] = df['ecology'].replace(mask_eco)
    
    mask_mod_edu = {'90,92':2,'93,08':1,'95,4918':0}
    df['modern_education_share'] = df['modern_education_share'].replace(mask_mod_edu)
    
    mask_old_edu = {'23,14':2,'25,47':1,'8,2517':0}
    df['old_education_build_share'] = df['old_education_build_share'].replace(mask_old_edu)
    
    # Extract months out of the timestamp and split it based on seasons
    
    df['month'] = df['timestamp'].str.split('-',expand=True)[1].astype(float)
    
    df.loc[(df['month'] >= 3) & (df['month']<= 5) ,'season'] = 'spring'
    df.loc[(df['month'] >= 6) & (df['month']<= 8) ,'season'] = 'summer'
    df.loc[(df['month'] >= 9) & (df['month']<= 11) ,'season'] = 'fall'
    df.loc[(df['month'] == 12) | (df['month']<= 2) ,'season'] = 'winter'
    
    mask_season = {'winter':4,'fall': 3,'summer':2,'spring':1}
    df['season'] = df['season'].replace(mask_season)
    
    df.drop(columns=['timestamp','month'],inplace = True)
    
    
    
    return df

## Loading data and Investigation

In [3]:
df = wrangle('train.csv')

In [4]:
df.shape

(8826, 14)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8826 entries, 8135 to 30469
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   full_sq                      8826 non-null   int64
 1   life_sq                      8826 non-null   float64
 2   num_room                     8826 non-null   float64
 3   ecology                      8826 non-null   int64
 4   price_doc                    8826 non-null   int64
 5   modern_education_share       8826 non-null   int64
 6   old_education_build_share    8826 non-null   int64
 7   culture_objects_top_25_yes   8826 non-null   uint8
 8   incineration_raion_yes       8826 non-null   uint8
 9   oil_chemistry_raion_yes      8826 non-null   uint8
 10  radiation_raion_yes          8826 non-null   uint8
 11  railroad_terminal_raion_yes  8826 non-null   uint8
 12  big_market_raion_yes         8826 non-null   uint8
 13  season                       8826 non-null   int64
dtypes: float64(2), int64(6), uint8(6)
memory usage: 672.3 KB

In [6]:
df.head()

,full_sq,life_sq,num_room,ecology,price_doc,modern_education_share,old_education_build_share,culture_objects_top_25_yes,incineration_raion_yes,oil_chemistry_raion_yes,radiation_raion_yes,railroad_terminal_raion_yes,big_market_raion_yes,season
8135,53,30.0,2.0,1,9000000,2,2,0,0,0,1,0,0,1
8154,45,27.0,2.0,2,7100000,2,2,0,0,0,0,0,0,1
8255,74,46.0,3.0,2,12100000,2,2,0,0,0,0,0,0,1
8287,77,50.0,3.0,1,11700000,2,2,0,0,0,0,0,0,2
8350,43,29.0,2.0,1,6400000,2,2,0,0,0,0,0,0,2

## Building the Model

### Splitting the data into training and testing data set

In [7]:
X = df.drop(columns= ['price_doc'])
y = df['price_doc']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

### Baseline model

In [8]:
y_mean = y.mean()
y_pred_baseline =[y_mean for i in range(len(y))]

### Ridge Regression Model Instantiation and Training

In [9]:
model = Ridge()
model.fit(X_train,y_train)

Ridge()

### Generating Prediction on the Training and Testing Data

In [10]:
y_pred_train = model.predict(X_train)
y_pred_test = model.predict(X_test)

## Model Evaluation

In [11]:
from sklearn.metrics import mean_squared_log_error
def RMSLE(y_true:np.ndarray, y_pred:np.ndarray):
    """
        The Root Mean Squared Log Error (RMSLE) metric 
        
        :param y_true: The ground truth labels given in the dataset
        :param y_pred: Our predictions
        :return: The RMSLE score
    """
    return np.sqrt(mean_squared_log_error(y_true, y_pred))

In [12]:
print(f'Baseline model RMSLE Value is: {RMSLE(y,y_pred_baseline)}')
print(f'Model RMSLE Value on Training data is: {RMSLE(y_train,abs(y_pred_train))}')
print(f'Model RMSLE Value on Test data  is: {RMSLE(y_test,abs(y_pred_test))}')

Baseline model RMSLE Value is: 0.6495651381941646
Model RMSLE Value on Training data is: 0.5666842306277827
Model RMSLE Value on Test data  is: 0.5626317151307871

#### From the above RMSLE Values it can be deduced that the model is performing better than the Baseline model and there it can be generalized

## Loading the test.csv data

In [13]:
column = df.columns

In [14]:
df_test = pd.read_csv('test.csv')

In [15]:
X = df[column].drop(columns = 'price_doc')
y = df['price_doc']

In [16]:
df_test.shape

(7662, 291)

In [17]:
df_test.columns

Index(['id', 'timestamp', 'full_sq', 'life_sq', 'floor', 'max_floor',
       'material', 'build_year', 'num_room', 'kitch_sq',
       ...
       'cafe_count_5000_price_1500', 'cafe_count_5000_price_2500',
       'cafe_count_5000_price_4000', 'cafe_count_5000_price_high',
       'big_church_count_5000', 'church_count_5000', 'mosque_count_5000',
       'leisure_count_5000', 'sport_count_5000', 'market_count_5000'],
      dtype='object', length=291)

In [18]:
prediction = model.predict(X)

In [19]:
RMSLE(y,abs(prediction))

0.5658756827623315

### Creating the submission file

In [20]:
submission = pd.DataFrame(prediction)

In [21]:
submission.to_csv('submission.csv')